* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--white-color);
  font-family: "Barlow Condensed", sans-serif;
}

:root {
  --black-color: rgb(11, 13, 23);
  --lightblue-color: rgb(208, 214, 249);
  --lightblue-color-small-opacity: rgba(208, 214, 249, 0.15);
  --white-color: rgb(255, 255, 255);
  --gray-color: gray;
  --gray-color-small-opacity: rgba(170, 168, 168, 0.1);
  --gray-color-line: rgba(182, 182, 182, 0.5);
  --gray-color-border: rgba(182, 182, 182, 0.3);
  --gray-color-button: rgba(128, 128, 128, 0.5);
}

body {
  overflow: hidden;
  background-color: var(--black-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

h3, h4 {
  font-family: "Roboto Mono", serif;
}

h2 {
  position: absolute;
  top: 130px;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4.75px;
}

h3 {
  margin: 16px 0px;
  font-size: 46px;
  letter-spacing: 6px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: var(--lightblue-color);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 0px 55px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.page-header__navigation {
  padding: 16px 30px;
  position: relative;
  border-radius: 6px 0px 0px 6px;
  background-color: var(--gray-color-small-opacity);
  transition: opacity 150ms ease-out;
}
@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  .page-header__navigation {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
}
.page-header__navigation::before {
  content: "";
  display: block;
  width: 55%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-95%, -50%);
  background-color: var(--gray-color-line);
}
.page-header__list {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  list-style: none;
}
.page-header__list__button {
  padding: 10px 0px;
  position: relative;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.page-header__list__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  transform: translateY(23px);
  background-color: var(--white-color);
  opacity: 0;
  transition: transform 150ms ease-out, opacity linear 150ms;
}
.page-header__list__button:hover::after {
  transform: translateY(17px);
  opacity: 1;
}
.page-header__list__button--active {
  color: var(--white-color);
}
.page-header__list__button--active::after {
  transform: translateY(17px);
  opacity: 1;
}
@media (hover: hover) {
  .page-header__list__button:hover::after {
    transform: translateY(17px);
    opacity: 1;
  }
}
@media (hover: none) {
  .page-header__list__button:active::after {
    transform: translateY(17px);
    opacity: 1;
  }
}
.page-header__list__number {
  margin-right: 10px;
  font-weight: 600;
}

main {
  display: flex;
  transition: transform 300ms ease-in-out;
}

main > section {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  padding: 10vh 15vh;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.home-section {
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/home/background-home-desktop.jpg");
  transition: opacity 150ms ease-out;
}
.home-section__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}
.home-section__title {
  text-transform: uppercase;
}
.home-section__title__small {
  color: var(--lightblue-color);
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 4.75px;
}
.home-section__title__big {
  display: block;
  font-size: 150px;
  font-family: "Roboto Mono", serif;
}
.home-section__text {
  max-width: 450px;
  letter-spacing: 1px;
}
.home-section__explore-button {
  width: 20vw;
  height: 20vw;
  background-color: var(--white-color);
  border-radius: 50%;
  color: var(--black-color);
  font-family: "Roboto Mono", serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  transition: box-shadow 200ms ease-out;
}
@media (hover: hover) {
  .home-section__explore-button:hover {
    box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
  }
}
@media (hover: none) {
  .home-section__explore-button:active {
    box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
  }
}

.destination-section {
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/destination/background-destination-desktop.jpg");
}
.destination-section__flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.destination-section__title-number {
  color: var(--gray-color);
}
.destination-section__animation-wrapper {
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.destination-section__image {
  display: none;
  margin-left: 3vw;
  width: 25vw;
  transition: transform 150ms ease-out;
}
.destination-section__list {
  display: flex;
  position: absolute;
  top: 32vh;
  list-style: none;
}
.destination-section__list li + li {
  margin-left: 26px;
}
.destination-section__list__button {
  padding: 4px 0px;
  position: relative;
  color: var(--lightblue-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--lightblue-color);
}
.destination-section__list__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  transform: translateY(17px);
  background-color: var(--white-color);
  opacity: 0;
  transition: transform 150ms ease-out, opacity linear 150ms;
}
.destination-section__list__button:hover::after {
  transform: translateY(10px);
  opacity: 1;
}
.destination-section__list__button--active {
  color: var(--white-color);
}
.destination-section__list__button--active::after {
  transform: translateY(10px);
  opacity: 1;
}
@media (hover: hover) {
  .destination-section__list__button:hover::after {
    transform: translateY(10px);
    opacity: 1;
  }
}
@media (hover: none) {
  .destination-section__list__button:active::after {
    transform: translateY(10px);
    opacity: 1;
  }
}
.destination-section__list__button.option-button--active {
  color: var(--white-color);
}
.destination-section__destine {
  display: none;
  max-width: 35vw;
}
.destination-section__text {
  border-bottom: 1px solid var(--gray-color-border);
  padding-bottom: 36px;
}
.destination-section__definitions {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  max-width: 400px;
  text-transform: uppercase;
}
.destination-section__definitions dt {
  font-size: 19px;
  color: var(--lightblue-color);
}
.destination-section__definitions dd {
  font-size: 28px;
}

.crew-section {
  padding: 0px 15vh;
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/crew/background-crew-desktop.jpg");
}
.crew-section__title-number {
  color: var(--gray-color);
}
.crew-section__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}
.crew-section__tripulant {
  display: none;
}
.crew-section__role {
  margin-bottom: 10px;
  color: var(--gray-color);
  font-size: 30px;
}
.crew-section__text {
  margin: 30px 0px 90px;
  max-width: 35vw;
}
.crew-section__list {
  display: flex;
  margin-bottom: 5vh;
  list-style: none;
}
.crew-section__list li + li {
  margin-left: 20px;
}
.crew-section__list__button {
  width: 18px;
  height: 18px;
  background-color: var(--gray-color-button);
  border-radius: 50%;
  transition: background-color 150ms ease-out;
}
.crew-section__list__button--active {
  background-color: var(--white-color) !important;
}
@media (hover: hover) {
  .crew-section__list__button:hover {
    background-color: var(--gray-color);
  }
}
@media (hover: none) {
  .crew-section__list__button:active {
    background-color: var(--gray-color);
  }
}
.crew-section__image {
  display: none;
  margin-left: 3vw;
  width: 27vw;
}
.crew-section__image--small {
  width: 23vw;
}

.technology-section {
  padding-right: 0px;
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/technology/background-technology-desktop.jpg");
}
.technology-section__title-number {
  color: var(--gray-color);
}
.technology-section__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.technology-section__inner__flex {
  display: flex;
}
.technology-section__animation-wrapper {
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.technology-section__list {
  flex-shrink: none;
  margin-right: 3vw;
  list-style: none;
}
.technology-section__list li + li {
  margin-top: 16px;
}
.technology-section__list__button {
  border: 2px solid var(--gray-color-button);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
}
.technology-section__list__button--active {
  border-color: var(--white-color) !important;
  background-color: var(--white-color);
  color: var(--black-color);
}
@media (hover: hover) {
  .technology-section__list__button:hover {
    border-color: var(--gray-color);
  }
}
@media (hover: none) {
  .technology-section__list__button:active {
    border-color: var(--gray-color);
  }
}
.technology-section__terminology {
  text-transform: uppercase;
}
.technology-section__vehicle {
  display: none;
  max-width: 40vw;
}
.technology-section__image {
  display: none;
  width: 30vw;
}

.loading-circle {
  display: none;
  padding: 20px;
  border: 5px solid transparent;
  border-left-color: var(--white-color);
  border-top-color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  animation: rotate-loading-circle 800ms ease-in-out infinite;
}

@media (pointer: coarse) {
  * {
    cursor: default;
  }
}
@keyframes show {
  from {
    display: block;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-and-show {
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate-loading-circle {
  to {
    transform: translate(-50%) rotate(360deg);
  }
}
.is-active {
  display: block;
}

.is-animating {
  animation: fade-in-and-show 350ms linear;
}

.is-disabled {
  opacity: 0;
  pointer-events: none;
}

.is-hidden {
  transform: translateY(40%);
  opacity: 0;
}

.is-hidden-to-left {
  transform: translateX(-40%);
  opacity: 0;
}

.is-hidden-to-right {
  transform: translateX(40%);
  opacity: 0;
}

.is-hidden-to-top {
  transform: translateY(-40%);
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
