* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
  color: var(--white-color);

  font-family: 'Barlow Condensed', sans-serif;
}

:root {
  --black-color: rgb(11, 13, 23);
  --lightblue-color: rgb(208, 214, 249);
  --lightblue-color-small-opacity: rgba(208, 214, 249, 0.15);
  --white-color: rgb(255, 255, 255);
  --gray-color: gray;
  --gray-color-small-opacity: rgba(170, 168, 168, 0.1);
  --gray-color-line: rgba(182, 182, 182, 0.5);
  --gray-color-border: rgba(182, 182, 182, 0.3);
  --gray-color-button: rgba(128, 128, 128, 0.5);
}


body {
  overflow: hidden;

  background-color: var(--black-color);
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

h3, h4 {
  font-family: 'Roboto Mono', serif;
}

h2 {
  position: absolute;
  top: 130px;
  left: 5vw;

  white-space: nowrap;
  
  font-size: 30px;
  font-weight: 300;

  letter-spacing: 4.75px;
}

h3 {
  margin: 16px 0px;

  font-size: 38px;

  letter-spacing: 6px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 28px;
  
  letter-spacing: 4.75px;
}

p {
  font-size: 20px;
  font-weight: 300;

  color: var(--lightblue-color);
}

button {
  border: none;

  background-color: transparent;

  cursor: pointer;
}

image {
  display: block;   // removes the image's margin at the bottom
}


@mixin option-button($padding, $default-color, $active-color, $initial-transform, $final-transform) {
  padding: $padding 0px;
  
  position: relative;
  
  color: $default-color;
  
  font-size: 18px;
  font-weight: 300;
  
  text-transform: uppercase;
  
  &::after {
    content: '';
  
    display: block;
    width: 100%;
    height: 3px;
  
    position: absolute;
    bottom: 0px;
    
    transform: translateY($initial-transform);
  
    background-color: $active-color;
  
    opacity: 0;
  
    transition: transform 150ms ease-out, opacity linear 150ms;
  }
  
  &:hover::after {
    transform: translateY($final-transform);
    opacity: 1;
  }

  &--active {
    color: $active-color;
  }
  
  &--active::after {
    transform: translateY($final-transform);
    opacity: 1;
  }
  
  @media (hover: hover) {
    &:hover::after {
      transform: translateY($final-transform);
      opacity: 1;
    }
  }
  
  @media (hover: none) {
    &:active::after {
      transform: translateY($final-transform);
      opacity: 1;
    }
  }
}


.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0px 0px 55px;
  width: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;

  &__navigation {
    padding: 16px 30px;

    position: relative;

    border-radius: 6px 0px 0px 6px;

    background-color: var(--gray-color-small-opacity);

    transition: opacity 150ms ease-out;


    @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
      & {
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
      }
    }

    &::before {
      content: '';

      display: block;
      width: 55%;
      height: 1px;

      position: absolute;
      top: 50%;
      left: 0px;

      transform: translate(-95%, -50%);

      background-color: var(--gray-color-line);
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;

    width: 50vw;

    list-style: none;
  }

  &__list__button {
    @include option-button(10px, var(--white-color), var(--white-color), 23px, 17px);
  }

  &__list__number {
    margin-right: 10px;
    font-weight: 600;
  }
}

main {
  display: flex;

  transition: transform 300ms ease-in-out;
}

main > section {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;

  padding: 10vh 15vh;
  width: 100vw;
  height: 100vh;

  position: relative;

  background-size: cover;
}

.home-section {
  background-image:
    radial-gradient(farthest-corner at center center, transparent 50%, black 90%),
    url('./src/home/background-home-desktop.jpg');

  transition: opacity 150ms ease-out;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    transition: transform 200ms ease-out, opacity 200ms ease-out;

    & > div {
      flex-shrink: 0;
    }
  }

  &__title {
    text-transform: uppercase;

    &__small {
      color: var(--lightblue-color);

      font-size: 28px;
      font-weight: 300;
      
      letter-spacing: 4.75px;
    }
  
    &__big {
      display: block;

      font-size: 150px;
      font-family: 'Roboto Mono', serif;
    }
  }

  &__text {
    max-width: 450px;

    letter-spacing: 1px;
  }

  &__explore-button {
    flex-shrink: 0;

    width: 20vw;
    height: 20vw;

    background-color: var(--white-color);

    border-radius: 50%;

    color: var(--black-color);

    font-family: 'Roboto Mono', serif;
    font-size: 28px;

    letter-spacing: 4.75px;

    text-transform: uppercase;

    transition: box-shadow 200ms ease-out;
  }

  @media (hover: hover) {
    &__explore-button:hover {
      box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
    }
  }

  @media (hover: none) {
    &__explore-button:active {
      box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
    }
  }
}

.destination-section {
  background-image:
    radial-gradient(farthest-corner at center center, transparent 50%, black 90%),
    url('./src/destination/background-destination-desktop.jpg');

  &__flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;
  }
  
  &__title-number {
    color: var(--gray-color)
  }

  &__animation-wrapper {
    flex-shrink: 0;

    transition: transform 300ms ease-out, opacity 300ms ease-out;
  }

  &__image {
    display: none;
    margin-left: 3vw;
    width: 25vw;

    transition: transform 150ms ease-out;
  }

  &__list {
    display: flex;

    position: absolute;
    top: 32vh;

    list-style: none;

    li + li {
      margin-left: 26px;
    }
  }

  &__list__button {
    @include option-button(4px, var(--lightblue-color), var(--white-color), 17px, 10px);

    color: var(--lightblue-color);

    &.option-button--active {
      color: var(--white-color)
    }
  }

  &__destine {
    display: none;
    max-width: 35vw;
  }

  &__text {
    border-bottom: 1px solid var(--gray-color-border);
    padding-bottom: 36px;
  }

  &__definitions {
    display: flex;
    justify-content: space-between;

    margin-top: 36px;
    max-width: 400px;

    text-transform: uppercase;

    dt {
      font-size: 19px;

      color: var(--lightblue-color);
    }

    dd {
      font-size: 28px;
    }
  }
}

.crew-section {
  padding: 0px 15vh;

  background-image:
    radial-gradient(farthest-corner at center center, transparent 50%, black 90%),
    url('./src/crew/background-crew-desktop.jpg');

  &__title-number {
    color: var(--gray-color)
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;

    transition: transform 200ms ease-out, opacity 200ms ease-out;

    & > div {
      flex-shrink: 0;
    }
  }

  &__tripulant {
    display: none;
  }

  &__role {
    margin-bottom: 10px;

    color: var(--gray-color);

    font-size: 30px;
  }

  &__text {
    margin: 30px 0px 90px;
    max-width: 35vw;
  }

  &__list {
    display: flex;

    margin-bottom: 5vh;

    list-style: none;

    li + li {
      margin-left: 20px;
    }
  }

  &__list__button {
    width: 18px;
    height: 18px;

    background-color: var(--gray-color-button);

    border-radius: 50%;

    transition: background-color 150ms ease-out;

    &--active {
      background-color: var(--white-color) !important;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--gray-color);
      }
    }

    @media (hover: none) {
      &:active {
        background-color: var(--gray-color);
      }
    }
  }

  &__image {
    display: none;
    margin-left: 3vw;
    width: 27vw;

    &--small {
      width: 23vw;
    }
  }
}

.technology-section {
  padding-right: 0px;

  background-image:
    radial-gradient(farthest-corner at center center, transparent 50%, black 90%),
    url('./src/technology/background-technology-desktop.jpg');

  &__title-number {
    color: var(--gray-color);
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  &__inner-flex {
    display: flex;
  }

  &__animation-wrapper {
    transition: transform 300ms ease-out, opacity 300ms ease-out;
  }

  &__list {
    flex-shrink: none;

    margin-right: 3vw;

    list-style: none;

    li + li {
      margin-top: 16px;
    }
  }

  &__list__button {
    border: 2px solid var(--gray-color-button);
    width: 50px;
    height: 50px;

    border-radius: 50%;

    font-size: 24px;

    transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;

    &--active {
      border-color: var(--white-color) !important;
      background-color: var(--white-color);
      color: var(--black-color);
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--gray-color);
      }
    }

    @media (hover: none) {
      &:active {
        border-color: var(--gray-color);
      }
    }
  }

  &__terminology {
    text-transform: uppercase;
  }

  &__vehicle {
    display: none;
    max-width: 40vw;
  }
  
  &__picture-wrapper {
    display: none;
  }

  &__image {
    width: 30vw;
  }
}

.loading-circle {
  display: none;

  padding: 20px;
  border: 5px solid transparent;
  border-left-color: var(--white-color);
  border-top-color: var(--white-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  
  border-radius: 50%;

  animation: rotate-loading-circle 800ms ease-in-out infinite;
}


@media (max-width: 980px), (max-height: 650px) {  // tablet responsive
  h2 {
    top: 110px;

    font-size: 22px;
  }

  .page-header {
    padding: 16px 0px 0px 24px;

    &__navigation::before {
      width: 45%;
    }

    &__list {
      width: 55vw;
    }
  }

  main {
    padding-top: 0px;
  }

  main > section, .crew-section {
    display: block;

    padding: 110px 0px 0px;
  }

  .home-section {
    background-image:
      radial-gradient(farthest-corner at center center, transparent 50%, black 95%),
      url('./src/home/background-home-tablet.jpg');
    background-position: center 60%;

    &__flex {
      flex-direction: column;
      justify-content: space-around;

      padding-bottom: 5vh;  // overflow bar creation
      height: 100%;

      overflow: auto;
    }

    &__title {
      text-align: center;

      &__small {
        font-size: 24px;
      }

      &__big {
        font-size: 100px;
      }
    }

    &__text {
      max-width: 60vw;

      text-align: center;
    }

    &__explore-button {
      margin-top: 50px;
      width: 18vw;
      height: 18vw;

      font-size: 24px;
    }
  }

  .destination-section {
    background-image:
      radial-gradient(farthest-corner at center center, transparent 50%, black 95%),
      url('./src/destination/background-destination-tablet.jpg');

    &__flex {
      flex-direction: column;
      align-items: center;

      height: 100%;

      overflow: auto;   // overflow bar creation
    }

    &__image {
      margin: 0px;
      width: 15vw;
    }

    &__list {
      justify-content: center;

      margin: 30px 0px;

      position: static;
    }

    &__destine {
      margin: 0px auto;

      max-width: 90%;
    }

    &__title {
      text-align: center;
    }

    &__text {
      padding-bottom: 20px;

      text-align: center;
    }

    &__definitions {
      justify-content: space-evenly;

      margin: 20px 0px;
      max-width: none;
    }
  }

  .crew-section {
    background-image:
      radial-gradient(farthest-corner at center center, transparent 50%, black 95%),
      url('./src/crew/background-crew-tablet.jpg');
    background-position: center 70%;

    &__flex {
      flex-direction: column;
      align-items: center;

      height: 100%;

      overflow: auto;

      & > div:first-child {
        width: 100%;
      }
    }

    &__title {
      text-align: center;
    }

    &__role {
      font-size: 24px;;
    }

    &__text {
      margin: 16px auto;
      max-width: none;
      width: 80%;

      text-align: center;
    }

    &__list {
      margin: 0px 0px 26px 5vw;
    }

    &__image {
      margin-left: 0px;
      width: 20vw;
    }
  }

  .technology-section {
    &__flex {
      flex-direction: column;

      height: 100%;

      overflow: auto;
    }

    &__inner-flex {
      order: 1;
    }

    &__image {
      width: 70vw;
    }
  }
}

@media (max-height: 590px) {    // avoid that the content get clipped to out of the element
  .home-section__flex, .destination-section__flex {
    justify-content: flex-start;
  }
}

@media (pointer: coarse) {
  * {
    cursor: default;
  }
}


@keyframes show {
  from {
    display: block;

    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-and-show {
  30% {
    opacity: 0
  }

  70% {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate-loading-circle {
  to {
    transform: translate(-50%) rotate(360deg);
  }
}


.is-active {
  display: block;
}

.is-animating {
  animation: fade-in-and-show 350ms linear;
}

.is-disabled {
  opacity: 0;

  pointer-events: none;
}

.is-hidden {
  transform: translateY(40%);

  opacity: 0;
}

.is-hidden-to-left {
  transform: translateX(-40%);

  opacity: 0;
}

.is-hidden-to-right {
  transform: translateX(40%);

  opacity: 0;
}

.is-hidden-to-top {
  transform: translateY(-40%);

  opacity: 0;
}
