* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--white-color);
  font-family: "Barlow Condensed", sans-serif;
}

:root {
  --black-color: rgb(11, 13, 23);
  --lightblue-color: rgb(208, 214, 249);
  --lightblue-color-small-opacity: rgba(208, 214, 249, 0.15);
  --white-color: rgb(255, 255, 255);
  --scrollbar-thumb-color: rgb(210, 210, 210);
  --gray-color: gray;
  --gray-color-small-opacity: rgba(170, 168, 168, 0.1);
  --gray-color-line: rgba(182, 182, 182, 0.5);
  --gray-color-border: rgba(182, 182, 182, 0.3);
  --gray-color-button: rgba(128, 128, 128, 0.5);
  --hamburguer-menu-color: rgba(44, 47, 54, 0.4);
  --hamburguer-menu-color-high-opacity: rgba(44, 47, 54, 0.6);
}

body {
  overflow: hidden;
  background-color: var(--black-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2, h3, h4 {
  word-break: break-word;
  text-transform: uppercase;
}

h3, h4 {
  font-family: "Roboto Mono", serif;
}

h3 {
  margin: 16px 0px;
  font-size: 38px;
  letter-spacing: 6px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: var(--lightblue-color);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 0px 55px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.page-header__navigation {
  padding: 16px 30px;
  position: relative;
  border-radius: 6px 0px 0px 6px;
  background-color: var(--gray-color-small-opacity);
  transition: opacity 150ms ease-out;
}
@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  .page-header__navigation {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
}
.page-header__navigation::before {
  content: "";
  display: block;
  width: 55%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-95%, -50%);
  background-color: var(--gray-color-line);
}
.page-header__hamburguer-menu-closer {
  display: none;
}
.page-header__list {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  list-style: none;
}
.page-header__list__button {
  padding: 10px 0px;
  position: relative;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.page-header__list__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  transform: translateY(23px);
  background-color: var(--white-color);
  opacity: 0;
  transition: transform 150ms ease-out, opacity linear 150ms;
}
.page-header__list__button:hover::after {
  transform: translateY(17px);
  opacity: 1;
}
.page-header__list__button--active {
  color: var(--white-color);
}
.page-header__list__button--active::after {
  transform: translateY(17px);
  opacity: 1;
}
@media (hover: hover) {
  .page-header__list__button:hover::after {
    transform: translateY(17px);
    opacity: 1;
  }
}
@media (hover: none) {
  .page-header__list__button:active::after {
    transform: translateY(17px);
    opacity: 1;
  }
}
.page-header__list__number {
  margin-right: 10px;
  font-weight: 600;
}
.page-header__hamburguer-button {
  display: none;
}
.page-header__hamburguer-menu-backdrop {
  display: none;
}

.title {
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  top: 130px;
  left: 5vw;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4.75px;
}
.title__number {
  margin-right: 20px;
  color: var(--gray-color);
}

main {
  display: flex;
  transition: transform 300ms ease-in-out;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  padding: 10vh 15vh;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
}

.home-section {
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/home/background-home-desktop.jpg");
  transition: opacity 150ms ease-out;
}
.home-section__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}
.home-section__flex > div {
  flex-shrink: 0;
}
.home-section__title {
  text-transform: uppercase;
}
.home-section__title__small {
  color: var(--lightblue-color);
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 4.75px;
}
.home-section__title__big {
  display: block;
  font-size: 150px;
  font-family: "Roboto Mono", serif;
}
.home-section__text {
  max-width: 450px;
  letter-spacing: 1px;
}
.home-section__explore-button {
  flex-shrink: 0;
  max-width: 300px;
  max-height: 300px;
  width: 20vw;
  height: 20vw;
  background-color: var(--white-color);
  border-radius: 50%;
  color: var(--black-color);
  font-family: "Roboto Mono", serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  transition: box-shadow 200ms ease-out;
}
@media (hover: hover) {
  .home-section__explore-button:hover {
    box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
  }
}
@media (hover: none) {
  .home-section__explore-button:active {
    box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
  }
}

.destination-section {
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/destination/background-destination-desktop.jpg");
}
.destination-section__flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1400px;
  width: 100%;
}
.destination-section__animation-wrapper {
  flex-shrink: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.destination-section__image {
  display: none;
  margin-left: 3vw;
  max-width: 300px;
  width: 20vw;
  transition: transform 150ms ease-out;
}
.destination-section__list {
  display: flex;
  position: absolute;
  top: 32vh;
  list-style: none;
}
.destination-section__list li + li {
  margin-left: 26px;
}
.destination-section__list__button {
  padding: 4px 0px;
  position: relative;
  color: var(--lightblue-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--lightblue-color);
  font-size: 20px;
}
.destination-section__list__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  transform: translateY(17px);
  background-color: var(--white-color);
  opacity: 0;
  transition: transform 150ms ease-out, opacity linear 150ms;
}
.destination-section__list__button:hover::after {
  transform: translateY(10px);
  opacity: 1;
}
.destination-section__list__button--active {
  color: var(--white-color);
}
.destination-section__list__button--active::after {
  transform: translateY(10px);
  opacity: 1;
}
@media (hover: hover) {
  .destination-section__list__button:hover::after {
    transform: translateY(10px);
    opacity: 1;
  }
}
@media (hover: none) {
  .destination-section__list__button:active::after {
    transform: translateY(10px);
    opacity: 1;
  }
}
.destination-section__list__button.option-button--active {
  color: var(--white-color);
}
.destination-section__destine {
  display: none;
  max-width: 35vw;
}
.destination-section__text {
  border-bottom: 1px solid var(--gray-color-border);
  padding-bottom: 36px;
}
.destination-section__definitions {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  max-width: 400px;
  text-transform: uppercase;
}
.destination-section__definitions dt {
  font-size: 19px;
  color: var(--lightblue-color);
}
.destination-section__definitions dd {
  font-size: 28px;
}

.crew-section {
  padding: 0px 15vh;
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/crew/background-crew-desktop.jpg");
}
.crew-section__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1400px;
  width: 100%;
  transition: opacity 300ms ease-out;
}
.crew-section__flex > div {
  flex-shrink: 0;
}
.crew-section__tripulant {
  display: none;
}
.crew-section__role {
  margin-bottom: 10px;
  color: var(--gray-color);
  font-size: 30px;
}
.crew-section__text {
  margin: 30px 0px 90px;
  max-width: 35vw;
}
.crew-section__list {
  display: flex;
  margin-bottom: 5vh;
  list-style: none;
}
.crew-section__list li + li {
  margin-left: 20px;
}
.crew-section__list__button {
  width: 22px;
  height: 22px;
  background-color: var(--gray-color-button);
  border-radius: 50%;
  transition: background-color 150ms ease-out;
}
.crew-section__list__button--active {
  background-color: var(--white-color) !important;
}
@media (hover: hover) {
  .crew-section__list__button:hover {
    background-color: var(--gray-color);
  }
}
@media (hover: none) {
  .crew-section__list__button:active {
    background-color: var(--gray-color);
  }
}
.crew-section__image {
  display: none;
  margin-left: 3vw;
  max-width: 350px;
  width: 27vw;
}
.crew-section__image--small {
  max-width: 320px;
  width: 23vw;
}

.technology-section {
  padding-right: 0px;
  background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 90%), url("./src/technology/background-technology-desktop.jpg");
}
.technology-section__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
}
.technology-section__inner-flex {
  display: flex;
}
.technology-section__animation-wrapper {
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.technology-section__list {
  flex-shrink: 0;
  margin-right: 3vw;
  list-style: none;
}
.technology-section__list li + li {
  margin-top: 16px;
}
.technology-section__list__button {
  border: 2px solid var(--gray-color-button);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  transition: border-color 150ms linear, background-color 150ms linear, color 150ms linear;
}
.technology-section__list__button--active {
  border-color: var(--white-color) !important;
  background-color: var(--white-color);
  color: var(--black-color);
}
@media (hover: hover) {
  .technology-section__list__button:hover {
    border-color: var(--gray-color);
  }
}
@media (hover: none) {
  .technology-section__list__button:active {
    border-color: var(--gray-color);
  }
}
.technology-section__terminology {
  text-transform: uppercase;
}
.technology-section__vehicle {
  display: none;
  width: 40vw;
}
.technology-section__picture-wrapper {
  display: none;
}
.technology-section__image {
  max-width: 420px;
  width: 30vw;
}

.loading-circle {
  display: none;
  padding: 20px;
  border: 5px solid transparent;
  border-left-color: var(--white-color);
  border-top-color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  animation: rotate-loading-circle 800ms ease-in-out infinite;
}

@media (max-width: 1026px) and (min-width: 981px) {
  .technology-section__flex {
    align-items: flex-start;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .title {
    align-self: flex-start;
    margin: 0px 0px 40px 5vw;
    position: static;
    font-size: 22px;
  }

  .technology-section .title {
    margin: 0px 0px 26px 5vw;
  }

  .page-header {
    padding: 16px 0px 0px 24px;
  }
  .page-header__navigation::before {
    width: 45%;
  }
  .page-header__list {
    width: 55vw;
  }

  main {
    padding-top: 0px;
  }

  main > section, .crew-section {
    display: block;
    padding: 120px 0px 0px;
  }

  .home-section {
    background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 95%), url("./src/home/background-home-tablet.jpg");
    background-position: center 60%;
  }
  .home-section__flex {
    scrollbar-width: thin;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 20px 5vh;
    height: 100%;
    overflow: auto;
  }
  .home-section__flex::-webkit-scrollbar {
    width: 8px;
  }
  .home-section__flex::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
}
@media (max-width: 980px) and (hover: hover), (max-height: 650px) and (hover: hover) {
  .home-section__flex::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px) and (hover: none), (max-height: 650px) and (hover: none) {
  .home-section__flex::-webkit-scrollbar-thumb:active {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .home-section__title {
    text-align: center;
  }
  .home-section__title__small {
    font-size: 24px;
  }
  .home-section__title__big {
    font-size: 100px;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .home-section__text {
    margin: 0px auto;
    max-width: none;
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .home-section__explore-button {
    margin-top: 50px;
    width: 18vw;
    height: 18vw;
    font-size: 24px;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .destination-section {
    background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 95%), url("./src/destination/background-destination-tablet.jpg");
  }
  .destination-section__flex {
    scrollbar-width: thin;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .destination-section__flex::-webkit-scrollbar {
    width: 8px;
  }
  .destination-section__flex::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
}
@media (max-width: 980px) and (hover: hover), (max-height: 650px) and (hover: hover) {
  .destination-section__flex::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px) and (hover: none), (max-height: 650px) and (hover: none) {
  .destination-section__flex::-webkit-scrollbar-thumb:active {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .destination-section__image {
    margin: 0px;
    width: 20vw;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .destination-section__list {
    justify-content: center;
    margin: 24px 0px;
    position: static;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .destination-section__destine {
    margin: 0px auto;
    max-width: 90%;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .destination-section__title {
    text-align: center;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .destination-section__text {
    padding-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .destination-section__definitions {
    justify-content: space-evenly;
    margin: 20px 0px;
    max-width: none;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section {
    background-image: radial-gradient(farthest-corner at center center, transparent 50%, black 95%), url("./src/crew/background-crew-tablet.jpg");
    background-position: center 70%;
  }
  .crew-section .title {
    margin-bottom: 16px;
  }
  .crew-section__flex {
    scrollbar-width: thin;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    height: 100%;
    overflow: auto;
  }
  .crew-section__flex::-webkit-scrollbar {
    width: 8px;
  }
  .crew-section__flex::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
}
@media (max-width: 980px) and (hover: hover), (max-height: 650px) and (hover: hover) {
  .crew-section__flex::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px) and (hover: none), (max-height: 650px) and (hover: none) {
  .crew-section__flex::-webkit-scrollbar-thumb:active {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section__flex > div:first-child {
    width: 100%;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section__title {
    text-align: center;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section__role {
    font-size: 24px;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section__text {
    margin: 16px auto 30px;
    max-width: none;
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section__list {
    justify-content: center;
    margin-bottom: 26px;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section__image {
    margin-left: 0px;
    width: 24vw;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .crew-section__image--small {
    width: 20vw;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .technology-section__flex {
    scrollbar-width: thin;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
  .technology-section__flex::-webkit-scrollbar {
    width: 8px;
  }
  .technology-section__flex::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
}
@media (max-width: 980px) and (hover: hover), (max-height: 650px) and (hover: hover) {
  .technology-section__flex::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px) and (hover: none), (max-height: 650px) and (hover: none) {
  .technology-section__flex::-webkit-scrollbar-thumb:active {
    background-color: var(--white-color);
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .technology-section__picture-wrapper {
    margin-bottom: 30px;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .technology-section__inner-flex {
    flex-direction: column;
    order: 1;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .technology-section__list {
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  .technology-section__list li + li {
    margin: 0px 0px 24px 24px;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .technology-section__terminology {
    text-align: center;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .technology-section__vehicle {
    margin: 0px auto 30px auto;
    width: 70%;
  }
  .technology-section__vehicle h3, .technology-section__vehicle p {
    text-align: center;
  }
}
@media (max-width: 980px), (max-height: 650px) {
  .technology-section__image {
    margin: 0px auto;
    width: 100%;
    max-width: 800px;
  }
}
@media (max-width: 880px) {
  .home-section__explore-button {
    width: 21vw;
    height: 21vw;
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .page-header__navigation::before {
    display: none;
  }
  .page-header__list {
    width: 70vw;
  }
}
@media (max-width: 800px) {
  .technology-section__vehicle {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .home-section__explore-button {
    width: 28vw;
    height: 28vw;
  }

  .home-section__explore-button:hover {
    box-shadow: 0px 0px 0px 6vw var(--lightblue-color-small-opacity);
  }

  .technology-section__vehicle {
    width: 85%;
  }
}
@media (max-width: 690px) {
  .page-header {
    padding: 20px 24px 0px;
  }
  .page-header__navigation {
    padding: 50px 0px 0px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    transform: translateX(100%);
    background-color: var(--hamburguer-menu-color);
    transition: transform 150ms ease-in-out;
  }
  @supports not (backdrop-filter: blur(16px)) {
    .page-header__navigation {
      background-color: var(--hamburguer-menu-color-high-opacity);
    }
  }
  .page-header__navigation--active {
    transform: translateX(0px);
  }
  .page-header__hamburguer-menu-closer {
    display: block;
    position: absolute;
    top: 33px;
    right: 26px;
  }
  .page-header__list {
    align-items: center;
    flex-direction: column;
  }
  .page-header__list li + li {
    margin-top: 20px;
  }
}
@media (max-width: 690px) and (hover: hover) {
  .page-header__list__button:hover::after {
    transform: translateY(8px);
  }
}
@media (max-width: 690px) and (hover: none) {
  .page-header__list__button:active::after {
    transform: translateY(8px);
  }
}
@media (max-width: 690px) {
  .page-header__list__button--active::after {
    transform: translateY(8px);
  }
}
@media (max-width: 690px) {
  .page-header__hamburguer-button {
    display: block;
  }
}
@media (max-width: 690px) {
  .page-header__hamburguer-menu-backdrop {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    pointer-events: none;
  }
}
@media (max-width: 690px) {
  .page-header__hamburguer-menu-backdrop--active {
    pointer-events: all;
  }
}
@media (max-width: 690px) {
  main > section, .crew-section {
    padding-top: 94px;
  }
}
@media (max-height: 650px) {
  .home-section__flex, .destination-section__flex {
    justify-content: flex-start;
  }
}
@media (max-width: 636px) {
  .destination-section__image {
    width: 25vw;
  }

  .crew-section__text {
    width: 100%;
  }
}
@media (max-width: 510px) {
  .home-section__explore-button {
    width: 36vw;
    height: 36vw;
  }

  .crew-section__image {
    width: 30vw;
  }

  .crew-section__image--small {
    width: 24vw;
  }
}
@media (max-width: 480px) {
  .home-section__title__big {
    margin: 10px 0px;
    font-size: 60px;
    letter-spacing: 8px;
  }

  .destination-section__definitions dd {
    font-size: 25px;
  }
}
@media (max-width: 435px) {
  .destination-section__definitions {
    justify-content: space-around;
  }

  .crew-section__image {
    width: 36vw;
  }

  .crew-section__image--small {
    width: 28vw;
  }
}
@media (max-width: 420px) {
  .home-section__text {
    width: 100%;
  }

  .destination-section__destine {
    margin: 0px;
    max-width: none;
  }

  .destination-section__image {
    width: 30vw;
  }
}
@media (max-width: 400px) {
  .home-section__explore-button {
    width: 44vw;
    height: 44vw;
  }

  .home-section__explore-button:hover {
    box-shadow: 0px 0px 0px 8vw var(--lightblue-color-small-opacity);
  }
}
@media (max-width: 350px) {
  .destination-section__definitions {
    justify-content: space-between;
  }
}
@media (pointer: coarse) {
  * {
    cursor: default;
  }
}
@keyframes show {
  from {
    display: block;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-and-show {
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate-loading-circle {
  to {
    transform: translate(-50%) rotate(360deg);
  }
}
.is-active {
  display: block;
}

.is-animating {
  animation: fade-in-and-show 450ms linear;
}

.is-disabled {
  opacity: 0;
  pointer-events: none;
}

.is-invisible {
  opacity: 0;
}

.is-hidden {
  transform: translateY(40%);
  opacity: 0;
}

.is-hidden-to-left {
  transform: translateX(-40%);
  opacity: 0;
}

.is-hidden-to-right {
  transform: translateX(40%);
  opacity: 0;
}

.is-hidden-to-top {
  transform: translateY(-40%);
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
