* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
  color: var(--white-color);

  font-family: 'Barlow Condensed', sans-serif;
}

:root {
  --black-color: rgb(11, 13, 23);
  --lightblue-color: rgb(208, 214, 249);
  --lightblue-color-small-opacity: rgba(208, 214, 249, 0.15);
  --white-color: rgb(255, 255, 255);
  --gray-color: gray;
  --gray-color-small-opacity: rgba(170, 168, 168, 0.1);
  --gray-color-line: rgba(182, 182, 182, 0.5);
  --gray-color-border: rgba(182, 182, 182, 0.3);
  --gray-color-button: rgba(128, 128, 128, 0.5);
}


body {
  overflow: hidden;

  background-color: var(--black-color);
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

h3, h4 {
  font-family: 'Roboto Mono', serif;
}

h2 {
  position: absolute;
  top: 130px;

  white-space: nowrap;
  
  font-size: 30px;
  font-weight: 300;

  letter-spacing: 4.75px;
}

h3 {
  margin: 16px 0px;

  font-size: 46px;

  letter-spacing: 6px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 28px;
  
  letter-spacing: 4.75px;
}

p {
  font-size: 20px;
  font-weight: 300;
}

button {
  border: none;

  background-color: transparent;

  cursor: pointer;
}


@mixin option-button($padding, $default-color, $active-color, $initial-transform, $final-transform) {
  padding: $padding 0px;
  
  position: relative;
  
  color: $default-color;
  
  font-size: 18px;
  font-weight: 300;
  
  text-transform: uppercase;
  
  &::after {
    content: '';
  
    display: block;
    width: 100%;
    height: 3px;
  
    position: absolute;
    bottom: 0px;
    
    transform: translateY($initial-transform);
  
    background-color: $active-color;
  
    opacity: 0;
  
    transition: transform 150ms ease-out, opacity linear 150ms;
  }
  
  &:hover::after {
    transform: translateY($final-transform);
    opacity: 1;
  }

  &--active {
    color: $active-color;
  }
  
  &--active::after {
    transform: translateY($final-transform);
    opacity: 1;
  }
  
  @media (hover: hover) {
    &:hover::after {
      transform: translateY($final-transform);
      opacity: 1;
    }
  }
  
  @media (hover: none) {
    &:active::after {
      transform: translateY($final-transform);
      opacity: 1;
    }
  }
}


.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0px 0px 55px;
  width: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;

  &__navigation {
    padding: 16px 30px;

    position: relative;

    border-radius: 6px 0px 0px 6px;

    background-color: var(--gray-color-small-opacity);

    @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
      & {
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
      }
    }

    &::before {
      content: '';

      display: block;
      width: 55%;
      height: 1px;

      position: absolute;
      top: 50%;
      left: 0px;

      transform: translate(-95%, -50%);

      background-color: var(--gray-color-line);
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;

    width: 50vw;

    list-style: none;
  }

  &__list__button {
    @include option-button(10px, var(--white-color), var(--white-color), 23px, 17px);
  }

  &__list__number {
    margin-right: 10px;
    font-weight: 600;
  }
}

main {
  display: flex;

  transition: transform 300ms ease-out;

}

main > section {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;

  padding: 10vh 15vh;
  width: 100vw;
  height: 100vh;

  background-size: cover;
}

.home-section {
  background-image: 
    radial-gradient(farthest-corner at center center, transparent 50%, black 90%),
    url('./src/home/background-home-desktop.jpg');

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  &__title {
    text-transform: uppercase;

    &__small {
      color: var(--lightblue-color);

      font-size: 28px;
      font-weight: 300;
      
      letter-spacing: 4.75px;
    }
  
    &__big {
      display: block;

      font-size: 150px;
      font-family: 'Roboto Mono', serif;
    }
  }

  &__text {
    max-width: 450px;

    color: var(--lightblue-color);

    letter-spacing: 1px;
  }

  &__explore-button {
    width: 20vw;
    height: 20vw;

    background-color: var(--white-color);

    border-radius: 50%;

    color: var(--black-color);

    font-family: 'Roboto Mono', serif;
    font-size: 28px;

    letter-spacing: 4.75px;

    text-transform: uppercase;

    transition: box-shadow 200ms ease-out;
  }

  @media (hover: hover) {
    &__explore-button:hover {
      box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
    }
  }

  @media (hover: none) {
    &__explore-button:active {
      box-shadow: 0px 0px 0px 4vw var(--lightblue-color-small-opacity);
    }
  }
}

.destination-section {
  background-image:
    radial-gradient(farthest-corner at center center, transparent 50%, black 90%),
    url('./src/destination/background-destination-desktop.jpg');

  &__flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;
  }
  
  &__title__number {
    color: var(--gray-color)
  }

  &__image {
    display: none;
    margin-left: 3vw;
    width: 25vw;

    transition: transform 150ms ease-out;
  }

  &__list {
    display: flex;

    position: absolute;
    top: 32vh;

    list-style: none;

    li + li {
      margin-left: 26px;
    }
  }

  &__list__button {
    @include option-button(4px, var(--lightblue-color), var(--white-color), 17px, 10px);

    color: var(--lightblue-color);

    &.option-button--active {
      color: var(--white-color)
    }
  }

  &__destine {
    display: none;
    max-width: 35vw;
  }

  &__text {
    border-bottom: 1px solid var(--gray-color-border);
    padding-bottom: 36px;

    color: var(--lightblue-color);
  }

  &__definitions {
    display: flex;
    justify-content: space-between;

    margin-top: 36px;
    max-width: 400px;

    text-transform: uppercase;

    dt {
      font-size: 19px;

      color: var(--lightblue-color);
    }

    dd {
      font-size: 28px;
    }
  }
}

.crew-section {
  padding: 0px 15vh;

  background-image:
    radial-gradient(farthest-corner at center center, transparent 50%, black 90%),
    url('./src/crew/background-crew-desktop.jpg');

  &__title__number {
    color: var(--gray-color)
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
  }

  &__tripulant {
    display: none;
  }

  &__role {
    margin-bottom: 10px;

    color: var(--gray-color);

    font-size: 30px;
  }

  &__text {
    margin: 30px 0px 90px;
    max-width: 40vw;

    color: var(--lightblue-color);
  }

  &__list {
    display: flex;

    margin-bottom: 5vh;

    list-style: none;

    li + li {
      margin-left: 20px;
    }
  }

  &__list__button {
    width: 18px;
    height: 18px;

    background-color: var(--gray-color-button);

    border-radius: 50%;

    transition: background-color 150ms ease-out;

    &--active {
      background-color: var(--white-color) !important;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--gray-color);
      }
    }

    @media (hover: none) {
      &:active {
        background-color: var(--gray-color);
      }
    }
  }

  &__image {
    display: none;
    margin-left: 3vw;
    width: 27vw;

    &--small {
      width: 23vw;
    }
  }
}


@media (pointer: coarse) {
  * {
    cursor: default;
  }
}


@keyframes show {
  from {
    display: block;

    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-and-show {
  30% {
    opacity: 0
  }

  70% {
    opacity: 0
  }

  to {
    opacity: 1;
  }
} 


.is-active {
  display: block;
}

.is-animating {
  animation: fade-in-and-show 350ms linear;
}
